/* styles.css */

.form-body {
  background-image: url(https://t4.ftcdn.net/jpg/02/86/37/57/360_F_286375793_tMNCezCxZVJMzXVlunBoKI1JWP72cE9L.jpg);
  background-size: cover;
}

.modal-content {
  border-radius: 12%;
  width: 546px;
}

.modal-header {
  background-color: #22e0ee;
}
.modal-body {
  position: relative;

  background-color: rgb(99 91 91);
}
.form-label {
  color: white;
}

.modal-footer {
  background-color: #22e0ee;
  margin-top: 0%;
}

label {
  display: inline-block;
  color: hsla(0, 0%, 100%, 1);
  font-size: large;
  font-weight: bold;
}

.usertable-body {
  background-image: url(https://t4.ftcdn.net/jpg/02/86/37/57/360_F_286375793_tMNCezCxZVJMzXVlunBoKI1JWP72cE9L.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
h1 {
  color: white;
  margin-top: 98px;
}
.py-3.text-centre {
  text-align: center;
}

.py-3 {
  background-color: #22e0ee;
  color: black;
  margin-left: -12px;
  margin-right: -12px;
}

.col-md-6 {
  text-align: left;
  width: 65%;
}

.form-control {
  margin-top: 8px;
  width: 77%;
}

.btn.btn-dark {
  padding-top: 2px;
  margin-top: 17px;
}

button {
  margin-bottom: 10px;
}

.btn.btn-primary {
  margin-bottom: -20px;
}

.btn-primary {
  float: right;
  margin-top: 10px;
  margin-right: 108px;
}
.delete-btn {
  margin-left: 10px;
}

.table {
  color: black;
  background-color: #22e0ee;
  width: 30cm;
  margin-top: 2%;
  margin-left: 60px;
  border-radius: 6px;
}

.tablebody {
  background-color: #e9ecef;
  border-color: black;
}
